$border_style: 1px solid #ccc;

body {
  font-size: 13pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
}
section {
  float: left;
}
.trainer {
  .work {
    width: 100%;
  }
  .lesson_data {
    display: block;
    border: $border_style;
    position:relative;
    height: 70px;
    width:800px;
    margin: 0 auto;
    font-size:2em;
    overflow:hidden;
    &.idle .container {
      opacity:0;
    }
    .paused {
      display:none;
      position:absolute;
      left: 0;
      top:0;
      padding:10px;
      text-align:center;
      height:50px;
      line-height:50px;
      width:100%;
    }
    &.idle .paused {
      display:block;
    }
    .container {
      width:9999px;
      position:relative;
      height: 50px;
      padding:10px;
    }
    .gesture {
      margin-right:20px;
      float:left;
      text-align:center;
      padding:5px 10px;
      border-radius:15px;
      &.active {
        background:#EEE;
      }
      &.correct {
        color: #009900;
      }
      &.incorrect {
        color: #990000;
      }
    }
  }
  .work_data{
    display: block;
    border: $border_style;
    padding: 10px;
    height: 50px;
    width: 200px;
    margin: 10px auto;
    text-align:center;
    font-size:2em;
  }
  .stats {
    label {
      margin-right:10px;
    }
  }
}
#legend {
  &.collapsed {
    height: 20px;
    overflow: hidden;
  }
  .title {
    cursor: pointer;
    margin:0 0 10px 0;
  }
  .column {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-bottom:1em;
    font-size:12pt;
    line-height:35px;
    .notation {
      display:inline-block;
      width:50px;
      height:20px;
      line-height:20px;
      text-align:center;
      border:1px solid #ddd;
      background:#f0f0f0;
      margin-right:10px;
      padding:5px;
      border-radius: 3px;
    }
  }
  .column_last {
    margin-right: 0;
  }
}

