$border_style: 1px solid #ccc;

body {
  font-size: 13pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
  background:#eee;
}
#wrapper {
  width:100%;
}
#content {
  padding:1em 5%;
}
section {
  float: left;
  width:100%;
  padding:2em 0;
  border-top:$border_style;
}
#intro {
  border-top:none;
}
.trainer {
  aside {
    float:right;
    width:35%;
  }
  article {
    float:left;
    width:60%;
    margin-right:5%;
  }
  .work {
    width: 100%;
  }
  .lesson_data,
  .work_history {
    display: block;
    border: $border_style;
    border-radius: 5px;
    background:#f5f5f5;
    position:relative;
    height: 70px;
    width:100%;
    margin: 0 auto;
    font-size:2em;
    overflow:hidden;
    &.idle .container {
      opacity:0;
    }
    .paused {
      display:none;
      position:absolute;
      left: 0;
      top:0;
      padding:10px;
      text-align:center;
      height:50px;
      line-height:50px;
      width:100%;
      font-size:0.8em;
    }
    &.idle .paused {
      display:block;
    }
    .container {
      width:9999px;
      position:relative;
      height: 50px;
      padding:10px;
    }
    .gesture {
      margin-right:20px;
      float:left;
      text-align:center;
      padding:5px 10px;
      width:100px;
      border-radius:15px;
      &.active {
        background: linear-gradient(#ffe788, #ffce38);
        background:linear-gradient(#ffe788, #ffe788);
        background-color:#ffcc00;
        border: 1px solid #dba500;
      }
      &.previous {
        color: #c0c0c0;
      }
      &.correct {
        color: #009900;
      }
      &.incorrect {
        color: #990000;
      }
    }
  }
  .work_data{
    display: block;
    border: $border_style;
    padding: 10px;
    height: 50px;
    width: 200px;
    margin: 10px auto;
    text-align:center;
    font-size:2em;
  }
  .block {
    border:$border_style;
    padding:15px;
    margin-bottom:1.5em;
    h3 {
      margin:0 0 0.5em;
    }
  }
  .stats {
    label {
      margin-right:10px;
    }
  }
  .controls {
    button {
      border:$border_style;
      font-size:1.2em;
      padding:7px 15px;
      background:#ddd;
      width:200px;
      &.hidden {
        display: none;
      }
    }
  }
}
#legend {
  &.collapsed .column3 {
    display:none;
  }
  .title {
    cursor: pointer;
    margin:0 0 10px 0;
  }
  .column3 {
    float:left;
    .column {
      float: left;
      width: 30%;
      margin-right: 5%;
      margin-bottom:1em;
      font-size:12pt;
      line-height:35px;
      .notation {
        display:inline-block;
        width:50px;
        height:20px;
        line-height:20px;
        text-align:center;
        border:$border_style;
        background:#f0f0f0;
        margin-right:10px;
        padding:5px;
        border-radius: 3px;
      }
    }
    .column_last {
      margin-right: 0;
    }
  }
}

